@using Latihan.Models;
@model IEnumerable<Latihan.Models.Person>

@{
    ViewBag.Title = "About";
}

<script>
    $(document).ready(function () {
        //jQuery code goes here
        //function validation() {
        //    var flagErr = 0
            // Name can't be blank
            $('#name').on('input', function inputname() {
                var input = $(this);
                var is_name = input.val();
                if (is_name) { input.removeClass("invalid").addClass("valid"); }
                else { input.removeClass("valid").addClass("invalid"); }
            });

            // Email must be an email
            $('#email').on('input', function inputemail() {
                var input = $(this);
                var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                var is_email = re.test(input.val());
                if (is_email) { input.removeClass("invalid").addClass("valid"); }
                else { input.removeClass("valid").addClass("invalid"); }
            });

            //Message can't be blank
            $('#subject').keyup(function inputmessage(event) {
                var input = $(this);
                var message = $(this).val();
                if (message) { input.removeClass("invalid").addClass("valid"); }
                else { input.removeClass("valid").addClass("invalid"); }
            });

        //    return flagErr
        //}

        // After Form Submitted Validation
        $("#contact_submit button").click(function (event) {
            var form_data = $("#ContactUs").serializeArray();
            var error_free = true;
            for (var input in form_data) {
                var element = $("#" + form_data[input]['name']);
                var valid = element.hasClass("valid");
                var error_element = $("span", element.parent());
                if (!valid) {
                    error_element.removeClass("error").addClass("error_show"); error_free = false;
                }
                else {
                    error_element.removeClass("error_show").addClass("error");
                    $("#modalContactUs").modal("hide");
                }
            }
            if (!error_free) {
                event.preventDefault();
            }
            else {
                //alert('No errors: Form will be submitted
                ProcessReq();
                $(".alert").show();
                setTimeout(function () { $(".alert").hide(); }, 3000);
            }
        });

        $(".close").click(function () {
            $(".alert").hide();
        });
    });

    function ProcessReq() {
        @{
        var customerName = Request["name"];
        var customerEmail = Request["email"];
        var customerRequest = Request["subject"];
        var errorMessage = "";
        var debuggingFlag = false;
        try {
            // Initialize WebMail helper
            WebMail.SmtpServer = "smtp.gmail.com";
            WebMail.SmtpPort = 587;
            WebMail.UserName = "heryanakasih@gmail.com";
            WebMail.Password = "teizluhdljeuzorf";
            WebMail.From = "heryanakasih@gmail.com";
            WebMail.EnableSsl = true;
            // Send email
            WebMail.Send(to: "heryanakasih@gmail.com",
            subject: "Help request from - " + customerName + " [Email Address: " + customerEmail+"]",
            body: customerRequest
            );
        }
        catch (Exception ex ) {
            errorMessage = ex.Message;
        }
        }
    }
</script>

<style>
    /* Container needed to position the overlay. Adjust the width as needed */
  .foto {
  position: relative;
  width: 50%;
  max-width: 300px;
}

  /* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 50%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 11px;
  padding: 10px;
  text-align: center;
    margin-left: 500px;
}
/* When you mouse over the container, fade in the overlay title */
.foto:hover .overlay {
  opacity: 1;
}
/* Make the image to responsive */
.image {
  height: auto;
  display: block;
  margin-left: 500px;
  width: 50%;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}
h1 {
  font-size: 50px;
  word-break: break-all;
}

/*Contact*/

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 1px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/*Validate*/
    textarea{
		vertical-align: top;
		height: 5em;
	}    

    .error{
     	display: none;
		margin-left: 10px;
     }
    .error_show{
	color: red;
	margin-left: 10px;
    }
    input.invalid, textarea.invalid{
	border: 2px solid red;
    }

    input.valid, textarea.valid{
	border: 2px solid green;
    }

    .alert {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    display:inline-block;
    height:300px;
    z-index:1000;
    width:200px;
    }
</style>

<!--ALERT MESSAGE-->
<div class="alert alert-success" style="display:none" id="dialog">
    <button type="button" class="close">&times;</button>
    <strong>Success!</strong> Indicates a successful or positive action.

    <p>Sorry to hear that you are having trouble, <b>@customerName</b>.</p>
    <p>An email message has been sent to our customer service
         department regarding the following problem:</p>
      <p><b>@customerRequest</b></p>
        @if(debuggingFlag){
            <p>The following error was reported:</p>
            <p><em>@errorMessage</em></p>
        }

    @*<button type="button" class="btn btn-danger" id="btnCancel" onclick="window.location.href='/About';">Back</button>*@
</div>

<h2>About</h2>

<div class="foto">
  <img src="~/Content/Image/img_avatar.png" alt="Avatar" class="image">
  <div class="overlay">My Name is Heryana</div>
</div>

<div style="text-align:center;">
    <h2>Heryana K Setiawan</h2>
    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactUs"> <p>    <i class="fa fa-envelope icon"></i> heryanakasih@gmail.com</p> </a>
</div>
<hr />



<div class="modal fade" id="modalContactUs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

  <div class="container">
  <div style="text-align:center">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    <h2>Contact Us</h2>
    <p>Swing by for a cup of coffee, or leave us a message:</p>
  </div>

  <div class="row">
    <div class="column" style="width:700px">
      <form id="ContactUs" method="post" @*action="About/ProcessRequest"*@">
          <div>
            <i class="fa fa-user icon"></i> <label for="fname">Name</label>
            <br />
            <input type="text" id="name" name="name" placeholder="Your name..">
            <span class="error">This field is required</span >
          </div> 
        
          <div>
            <i class="fa fa-envelope icon"></i> <label for="lemail">Email</label>
            <br />
            <input type="text" id="email" name="email" placeholder="Your Email..">
            <span class="error">A valid email address is required</span>
          </div>
          
          <div>
            <i class="fa fa-edit"></i> <label for="subject">Message</label> <br />
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:110px"></textarea>
            <span class="error">This field is required</span>
          </div>
          
          <div id="contact_submit">
            <button type="button" class="btn btn-success">Submit</button>
          </div>
      
      </form>
    </div>
  </div>
</div>

    </div>
  </div>
</div>



