@{
    ViewBag.Title = "Home Page";
}

<div class="">
    <h1>Selamat Datang</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Data Nasabah</h2>
        <p>
            Klik pada menu Input Nasabah untuk melihat dan menambah data Nasabah.
        </p>
        <p><a class="btn btn-default" href="~/Home/InputNasabah">Input Data Nasabah</a></p>
    </div>
    <div class="col-md-4">
        <h2>Data Transaksi</h2>
        <p>Klik pada menu Input Transaksi untuk melihat dan menambah data Transaksi.</p>
        <p><a class="btn btn-default" href="~/Home/InputTransaksi">Input Data Transaksi</a></p>
    </div>
    <div class="col-md-4">
        <h2>Poin</h2>
        <p>Klik pada menu Poin untuk melihat informasi Poin Nasabah.</p>
        <p><a class="btn btn-default" href="~/Home/Poin">Informasi Data Poin Nasabah</a></p>
    </div>
    <div class="col-md-4">
        <h2>Report</h2>
        <p>Klik pada menu Report untuk melihat report data Nasabah.</p>
        <p><a class="btn btn-default" href="~/Home/Report">Report Data Nasabah</a></p>
    </div>
</div>

<script type="text/javascript">
    
</script>